@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@font-face {
    font-family: fonte-titulo;
    src: url(../fonts/Strengthen.ttf);
}


:root{
    --fonte-principal: 'Joan', serif;
    --fonte-secundaria: '', serif;

}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(150deg, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 30%, rgb(0, 36, 242) 100%);
    background-attachment: fixed;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 90px;
    left: 0;
    background: #1f035800;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

}

.logo {
    text-align: center;
    display: flex;
    transform: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

li a {
    position: relative;
    color: rgb(255, 255, 255);
    font: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fa-dollar-sign, .fa-location-dot, .fa-phone, .fa-file-contract, .fa-house {
   position: relative;
   width: 70px;
   height: 40px;
   top: 14px;
   font-size: 20px;
   text-align: center; 
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

nav a:hover {
    background: rgba(48,12,125,1)
}

nav:hover {
    width: 280px;
    transition: all 0.5 ease;
}

footer {
    background-color: rgba(255, 255, 255, 0.092);
    display: grid;
    text-align: center;
    height: 120px;
    color: white;
}

#foot_btns {
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.img_foot:hover {
    background-color:rgb(100, 54, 151);
    border: 1px solid rgb(167, 107, 251);
    border-radius: 50%;
}

#foot_txt {
    height: 30px;
}

#foot_txt p {
    margin-top: 10px;
}

#main_ajuda {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
}

#main_proposta {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
}

#main_index {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
}

#main_contato {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
}

#main_landing {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: var(--fonte-principal);
}

#div_h1 {
    display: flex;
    justify-content: center;
}

#main_h1 {
    font-size: 110px;
    color: white;
    font-family: fonte-titulo;
    margin-top: 30px;
}

form {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 71px;
    border: 3px solid white;
    width: 500px;
    height: 450px;
    margin-top: 30px;
    padding: 0px 40px 10px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.092);
    color: white;
    font-weight: 500;
}

.title {
    font-size: 2em;
    text-align: center;
    color: white;
}

.input, #input_op{
    width: 280px;
    border-radius: 18px;
    border: 2px solid white;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input i, #input_op i {
    font-size: 1.2em;
    padding: 5px;
    background-image: linear-gradient(150deg, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 10%, rgba(48,12,125,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input input, #opinião {
    width: 80%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: var(--fonte-secundaria);
    color: white;
    font-weight: 100;
    font-size: 16px;
}

#btn {
    width: 100%;
    text-align: center;
    transition: 1s ease-in-out;
}

#btn button {
    font-family: var(--fonte-secundaria);
    background-image: linear-gradient(150deg, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 10%, rgba(48,12,125,1) 100%);
    color: white;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
}

#btn button:hover {
    color: white;
    transition: 1s ease-in-out;
    background-image: linear-gradient(150deg, rgba(48,12,125,1) 5%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
    border: 2px solid black;
}

#cont_index {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 39px;
    border: 5px solid white;
    width: 700px;
    height: 450px;
    margin-top: 20px;
    text-align: left;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#list_index {
    padding-left: 25px;
}

#cont_proposta {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 39px;
    border: 5px solid white;
    width: 600px;
    height: min-content;
    margin-top: 60px;
    text-align: left;
    padding: 15px;
}

#txt_proposta {
    text-align: center;
}

#cont_ajuda {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 39px;
    border: 5px solid white;
    width: 600px;
    height: min-content;
    margin-top: 30px;
    padding: 10px;
}

#div_img_ajuda {
    margin-top: 30px;
}

#div_img_ajuda a {
    -webkit-filter: blur(3px);
}

#div_img_ajuda a:hover {
    -webkit-filter: none;
}

#txt_ajuda {
    text-align: center;
}

#msg_ajuda {
    font-size: 12px;
    margin-top: 5px;
}

#img_ajuda {
    width: 200px;
}

#img_endereco {
    width: 325px;
    height: 325px;
    border-radius: 100%;
    border: 10px solid rgb(18, 6, 43);
    margin-top: 20px;
}

#cont_endereco {
    margin-top: 30px;
    align-items: center;
}

#txt_endereco {
    text-align: center;
}

#container_hora {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 30px 0;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 300px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 100px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(18, 6, 43);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 15px rgba(77, 43, 170, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-size: 45px;
    margin: 0 10px 10px 0;
}

.relogio span.tempo {
    font-size: 11px;
    margin-right: 10px;
    font-weight: 1000;
}

.container-slider {
    display: flex;
    width: 50%;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
  .on {
    opacity: 1;
  }
  
  #prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
  #prev-button {
    transform: rotate(180deg);
  }

#button_pai_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#button_pai_nav button {
    text-decoration: none;
    background-color: rgba(91, 0, 0, 0);
    padding: 9px;
    border: 2px solid #c6c6c62b;
    color: black;
    border-radius: 5px 0 5px 0;
    height: 40px;
    width: 200px;
}

#button_pai_nav button:hover{
    background-color: rgba(255, 255, 255, 0.242);
}